<nav class="navbar">
    <div class="navbar-logo">
        <img class="pi-spin" src="favicon.png" alt="Logo F1">
    </div>
    <button class="navbar-toggle" (click)="activarMenu()">
        <i class="fa-solid fa-bars"></i>
    </button>
    <ul class="navbar-links" [ngClass]="{'active': menuActivo}">
        <li><a [routerLink]="['/info']" routerLinkActive="router-link-active">Info</a></li>
        <li><a [routerLink]="['/comprarcartas']" routerLinkActive="router-link-active">Juego de Cartas</a></li>
        <li><a [routerLink]="['/crearcarta']" routerLinkActive="router-link-active">Crea tu Carta</a></li>
        <li><a [routerLink]="['/cartasusuarios']" routerLinkActive="router-link-active">Cartas de Otros Usuarios</a></li>
        <li><a [routerLink]="['/ranking']" routerLinkActive="router-link-active">Ranking</a></li>
        <li><a [routerLink]="['/login']" (click)="cerrarSesion()">Cerrar Sesion</a></li>
    </ul>
</nav>
<div class="container">
    <h2>Comprar Cartas</h2>
    <div class="contador-monedas">
        <span><i class="pi pi-money-bill" style="font-size: 2rem; color: green;"></i></span>
        <div class="monedas">{{ monedas }}</div>
        <button class="obtener-monedas" (click)="incrementarMonedas()">+100 <i class="pi pi-money-bill" style="font-size: 1.4rem; color: green;"></i></button>
    </div>

    <div class="compras-container">
        <div class="columna">
            <h3>Pilotos</h3>
            <p-progressbar [value]="getPorcentajePilotos()" [style]="{'--p-progressbar-value-background': 'red'}"></p-progressbar>
            <br>
            <div class="cartas-grid">
                <div class="carta piloto" *ngFor="let piloto of pilotos">
                    <div class="valoracion">
                        <i class="pi pi-spin pi-cog" style="font-size: 1rem; color: white;"></i> {{ piloto.valoracion }}
                    </div>
                    <div class="imagen-carta">
                        <img [src]="'https://clever-emotion-production.up.railway.app' + piloto.rutaImagen" alt="Imagen del Piloto">
                    </div>
                    <div class="info-carta">
                        <h4>{{ piloto.nombre }}</h4>
                        <p><i class="pi pi-money-bill" style="font-size: 1.2rem; color: green;"></i><strong> Precio:</strong> {{ piloto.precio }}</p>
                        <p><i class="pi pi-trophy" style="font-size: 1.2rem; color: gold;"></i><strong> Victorias:</strong> {{ piloto.victorias }}</p>
                        <p><i class="pi pi-trophy" style="font-size: 1.2rem; color: silver;"></i><strong> Podios:</strong> {{ piloto.podios }}</p>
                    </div>
                    <button
                        [disabled]="isPilotoDisabled(piloto)"
                        (click)="comprarPiloto(piloto)"
                        class="boton-carta">
                        @if(isPilotoComprado(piloto)){
                            <i class="pi pi-check" style="font-size: 1.8rem; color: lightgreen;"></i>
                        }
                        @else{
                            <i class="pi pi-shopping-cart" style="font-size: 1.8rem; color: white;"></i>
                        }
                    </button>
                </div>
            </div>
        </div>

        <div class="columna">
            <h3>Circuitos</h3>
            <p-progressbar [value]="getPorcentajeCircuitos()" [style]="{'--p-progressbar-value-background': 'red'}"></p-progressbar>
            <br>
            <div class="cartas-grid">
                <div class="carta circuito" *ngFor="let circuito of circuitos">
                    <div class="imagen-carta">
                        <img [src]="'https://clever-emotion-production.up.railway.app' + circuito.rutaImagen" alt="Imagen del Circuito">
                    </div>
                    <div class="info-carta">
                        <h4>{{ circuito.nombre }}</h4>
                        <p><i class="pi pi-map-marker" style="font-size: 1.2rem; color: red;"></i><strong> País:</strong> {{ circuito.pais }}</p>
                        <p><i class="pi pi-money-bill" style="font-size: 1.2rem; color: green;"></i><strong> Precio:</strong> {{ circuito.precio }}</p>
                    </div>
                    <button
                        [disabled]="isCircuitoDisabled(circuito)"
                        (click)="comprarCircuito(circuito)"
                        class="boton-carta">
                        @if(isCircuitoComprado(circuito)){
                            <i class="pi pi-check" style="font-size: 1.5rem; color: lightgreen;"></i>
                        }
                        @else{
                            <i class="pi pi-shopping-cart" style="font-size: 1.8rem; color: white;"></i>
                        }
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast position="top-left"></p-toast>
