<div class="container">
    <nav class="navbar">
        <div class="navbar-logo">
            <img src="favicon.png" alt="Logo F1">
        </div>
        <ul class="navbar-links">
            <li><a [routerLink]="['/info']" routerLinkActive="router-link-active">Info</a></li>
            <li><a [routerLink]="['/comprarcartas']" routerLinkActive="router-link-active">Juego de Cartas</a></li>
            <li><a [routerLink]="['/crearcarta']" routerLinkActive="router-link-active">Crea tu Carta</a></li>
            <li><a [routerLink]="['/cartasusuarios']" routerLinkActive="router-link-active">Cartas de Otros Usuarios</a></li>
            <li><a [routerLink]="['/ranking']" routerLinkActive="router-link-active">Ranking</a></li>
        </ul>
    </nav>

    <h2>Comprar Cartas</h2>
    <div class="contador-monedas">
        <span>Monedas:</span>
        <div class="monedas">{{ monedas }}</div>
        <button class="obtener-monedas" (click)="incrementarMonedas()">+100 Monedas</button>
    </div>

    <div class="compras-container">
        <div class="columna">
            <h3>Pilotos</h3>
            <div class="fila" *ngFor="let fila of dividirEnFilas(pilotos, 3)">
                <div class="carta piloto" *ngFor="let piloto of fila">
                    <div class="valoracion">
                        {{ piloto.valoracion }}
                    </div>
                    <div class="imagen-carta">
                        <img [src]="'http://localhost:8080' + piloto.rutaImagen" alt="Imagen del Piloto">
                    </div>
                    <div class="info-carta">
                        <h4>{{ piloto.nombre }}</h4>
                        <p><strong>Precio:</strong> {{ piloto.precio }} monedas</p>
                        <p><strong>Victorias:</strong> {{ piloto.victorias }}</p>
                        <p><strong>Podios:</strong> {{ piloto.podios }}</p>
                    </div>
                    <button 
                        [disabled]="isPilotoDisabled(piloto)"
                        (click)="comprarPiloto(piloto)"
                        class="boton-carta">
                        @if(isPilotoComprado(piloto)){
                            Comprado
                        }
                        @else{
                            Comprar
                        }
                    </button>
                </div>
            </div>
        </div>

        <div class="columna">
            <h3>Circuitos</h3>
            <div class="fila" *ngFor="let fila of dividirEnFilas(circuitos, 3)">
                <div class="carta circuito" *ngFor="let circuito of fila">
                    <div class="imagen-carta">
                        <img [src]="'http://localhost:8080' + circuito.rutaImagen" alt="Imagen del Circuito">
                    </div>
                    <div class="info-carta">
                        <h4>{{ circuito.nombre }}</h4>
                        <p><strong>País:</strong> {{ circuito.pais }}</p>
                        <p><strong>Precio:</strong> {{ circuito.precio }} monedas</p>
                    </div>
                    <button 
                        [disabled]="isCircuitoDisabled(circuito)"
                        (click)="comprarCircuito(circuito)"
                        class="boton-carta">
                        @if(isCircuitoComprado(circuito)){
                            Comprado
                        }
                        @else{
                            Comprar
                        }
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
