<nav class="navbar">
    <div class="navbar-logo">
        <img src="favicon.png" alt="Logo F1">
    </div>
    <button class="navbar-toggle" (click)="activarMenu()">
        <i class="fa-solid fa-bars"></i>
    </button>
    <ul class="navbar-links" [ngClass]="{'active': menuActivo}">
        <li><a [routerLink]="['/info']" routerLinkActive="router-link-active">Info</a></li>
        <li><a [routerLink]="['/comprarcartas']" routerLinkActive="router-link-active">Juego de Cartas</a></li>
        <li><a [routerLink]="['/crearcarta']" routerLinkActive="router-link-active">Crea tu Carta</a></li>
        <li><a [routerLink]="['/cartasusuarios']" routerLinkActive="router-link-active">Cartas de Otros Usuarios</a></li>
        <li><a [routerLink]="['/ranking']" routerLinkActive="router-link-active">Ranking</a></li>
        <li><a href="#" (click)="cerrarSesion()">Cerrar Sesion</a></li>
    </ul>
</nav>
<div class="container">
    <h2>Cartas de Usuarios</h2>
    <div class="cartas-container">
        <div class="carta" *ngFor="let carta of cartas">
            <div class="valoracion">Valoración: {{ carta.valoracion }}</div>
            <img [src]="'https://clever-emotion-production.up.railway.app' + carta.rutaImagen" alt="Imagen de la Carta">
            <p><i class="pi pi-user" style="font-size: 1.2rem; color: black;"></i> {{ carta.username.split('@')[0] }}</p>
        </div>
    </div>
</div>