<div class="container">

  <div class="header-container">
    <img src="http://localhost:3000/images/logos/logoselected.webp" alt="Logo Jurassic Park">
    <h2>Jurassic Park</h2>
  </div>
  <div class="monedas-container">
    <button (click)="sumarMonedas()">Sumar monedas</button>
    <p>Monedas: {{this.monedas}}</p>
  </div>

  <div class="items-container">
    <div class="section">
      <h2>Dinosaurios</h2>
      @for(din of dinosaurios; track din.id){
        <div class="item-card">
          <p>ID: {{din.id}}</p>
          <p>Nombre: {{din.name}}</p>
          <p>Nombre Científico: {{din.scientificName}}</p>
          <img src="http://localhost:3000/{{din.image}}" alt="Imagen de {{din.name}}">
          <p>Coste: {{din.cost}}</p>
          <button (click)="comprarDino(din.id, din.cost)"
                  [disabled]="this.monedas < din.cost || dinosauriosIds.includes(din.id) || !recintosIds.includes(din.requiredRecintoId)">
            @if(dinosauriosIds.includes(din.id)){
              Comprado
            }@else {
              Comprar
            }
          </button>
        </div>
      }
    </div>

    <div class="section">
      <h2>Recintos</h2>
      @for(rec of recintos; track rec.id){
        <div class="item-card">
          <p>ID: {{rec.id}}</p>
          <p>Nombre: {{rec.name}}</p>
          <img src="http://localhost:3000/{{rec.image}}" alt="Imagen de {{rec.name}}">
          <p>Coste: {{rec.cost}}</p>
          <button (click)="comprarReci(rec.id, rec.cost)"
                  [disabled]="this.monedas < rec.cost || recintosIds.includes(rec.id)">
            @if(recintosIds.includes(rec.id)){
              Comprado
            }@else {
              Comprar
            }
          </button>
        </div>
      }
    </div>
  </div>
</div>
