<div class="login-container">
  <form (ngSubmit)="loguearUsuario()" class="login-form">
    <h2>Iniciar Sesión</h2>

    <label class="login-label">
      Email:
      <input type="email" [(ngModel)]="email" name="email" required class="login-input">
    </label>

    <label class="login-label">
      Password:
      <input type="password" [(ngModel)]="pass" name="password" required class="login-input">
    </label>

    <button type="submit" class="login-button">Login</button>

    @if(intentado){
      <div class="login-message">
        @if(exito){
          <p class="success-message">Login exitoso!</p>
          this.router.navigate(["/dashboard"]);
        }@else {
          <p class="error-message">Login fallido, puedes crear una cuenta <a [routerLink]="['/register']" routerLinkActive="router-link-active">aquí</a>.</p>
        }
      </div>
    }
  </form>
</div>
