<div class="container">
    <nav class="navbar">
        <div class="navbar-logo">
            <img src="favicon.png" alt="Logo F1">
        </div>
        <button class="navbar-toggle" (click)="activarMenu()">
            <i class="fa-solid fa-bars"></i>
        </button>
        <ul class="navbar-links" [ngClass]="{'active': menuActivo}">
            <li><a [routerLink]="['/info']" routerLinkActive="router-link-active">Info</a></li>
            <li><a [routerLink]="['/comprarcartas']" routerLinkActive="router-link-active">Juego de Cartas</a></li>
            <li><a [routerLink]="['/crearcarta']" routerLinkActive="router-link-active">Crea tu Carta</a></li>
            <li><a [routerLink]="['/cartasusuarios']" routerLinkActive="router-link-active">Cartas de Otros Usuarios</a></li>
            <li><a [routerLink]="['/ranking']" routerLinkActive="router-link-active">Ranking</a></li>
            <li><a href="#" (click)="cerrarSesion()">Cerrar Sesion</a></li>
        </ul>
    </nav>
  
    <div class="items-container">
        <div class="section">
            <h2>Pilotos</h2>
            <div class="filters">
                <button (click)="ordenarPorVictorias()">Ordenar por Victorias</button>
                <button (click)="ordenarPorCarreras()">Ordenar por Carreras</button>
            </div>
            @for(piloto of pilotos; track piloto.id) {
            <div class="item-card">
                <img src="https://clever-emotion-production.up.railway.app{{piloto.rutaImagen}}" alt="Imagen de {{piloto.nombre}}">
                <div class="card-header">{{piloto.nombre}}</div>
                <div class="stats">
                    <div><strong>Victorias:</strong> {{piloto.victorias}}</div>
                    <div><strong>Podios:</strong> {{piloto.podios}}</div>
                    <div><strong>Carreras:</strong> {{piloto.carreras}}</div>
                </div>
                <div class="stats">
                    <div><strong>Equipo:</strong> {{piloto.nombreEquipo}}</div>
                    <div><strong>Edad:</strong> {{piloto.edad}}</div>
                    <div><strong>Debut:</strong> {{piloto.anhoDebut}}</div>
                </div>
                <p>{{piloto.descripcion}}</p>
            </div>
            }
        </div>
  
        <div class="section">
            <h2>Circuitos</h2>
            <div class="filters">
                <button (click)="ordenarPorAnhoConstruccion()">Ordenar por Año de Construcción</button>
            </div>
            @for(circuito of circuitos; track circuito.id) {
            <div class="item-card">
                <img src="https://clever-emotion-production.up.railway.app{{circuito.rutaImagen}}" alt="Imagen de {{circuito.nombre}}">
                <div class="card-header">{{circuito.nombre}}</div>
                <div class="stats">
                    <div><strong>País:</strong> {{circuito.pais}}</div>
                    <div><strong>Año de Construcción:</strong> {{circuito.anhoConstruccion}}</div>
                </div>
                <p>{{circuito.descripcion}}</p>
            </div>
            }
        </div>
    </div>
  </div>
  