<div class="container">
    <nav class="navbar">
      <div class="navbar-logo">
        <img src="http://localhost:3000/images/logos/logoselected.webp" alt="Logo F1">
      </div>
      <ul class="navbar-links">
        <li><a [routerLink]="['/info']" routerLinkActive="router-link-active">Info</a></li>
        <li><a [routerLink]="['/comprarcartas']" routerLinkActive="router-link-active">Juego de Cartas</a></li>
        <li><a [routerLink]="['/crearcarta']" routerLinkActive="router-link-active">Crea tu Carta</a></li>
        <li><a [routerLink]="['/cartasusuarios']" routerLinkActive="router-link-active">Cartas de Otros Usuarios</a></li>
        <li><a [routerLink]="['/ranking']" routerLinkActive="router-link-active">Ranking</a></li>
      </ul>
    </nav>
    <div class="items-container">
      <div class="section">
        <h2>Pilotos</h2>
        <div class="filters">
          <button (click)="ordenarPorVictorias()">Ordenar por Victorias</button>
          <button (click)="ordenarPorCarreras()">Ordenar por Carreras</button>
        </div>
        @for(piloto of pilotos; track piloto.id){
          <div class="item-card">
            <img src="http://localhost:8080{{piloto.rutaImagen}}" alt="Imagen de {{piloto.nombre}}">
            <p><strong>Nombre:</strong> {{piloto.nombre}}</p>
            <p><strong>Equipo:</strong> {{piloto.nombreEquipo}}</p>
            <p><strong>Edad:</strong> {{piloto.edad}}</p>
            <p><strong>Victorias:</strong> {{piloto.victorias}}</p>
            <p><strong>Podios:</strong> {{piloto.podios}}</p>
            <p><strong>Carreras:</strong> {{piloto.carreras}}</p>
            <p><strong>Año de Debut:</strong> {{piloto.anhoDebut}}</p>
            <p>{{piloto.descripcion}}</p>
          </div>
        }
      </div>
      <div class="section">
        <h2>Circuitos</h2>
        <div class="filters">
          <button (click)="ordenarPorAnhoConstruccion()">Ordenar por Año de Construcción</button>
        </div>
        @for(circuito of circuitos; track circuito.id){
          <div class="item-card">
            <img src="http://localhost:8080{{circuito.rutaImagen}}" alt="Imagen de {{circuito.nombre}}">
            <p><strong>Nombre:</strong> {{circuito.nombre}}</p>
            <p><strong>País:</strong> {{circuito.pais}}</p>
            <p><strong>Año de Construcción:</strong> {{circuito.anhoConstruccion}}</p>
            <p>{{circuito.descripcion}}</p>
          </div>
        }
      </div>
    </div>
  </div>
  