<div class="register-container">
  <form [formGroup]="form" (ngSubmit)="registrarUsuario(); form.reset()" class="register-form">
    <div class="logo-container">
      <img src="favicon.png" alt="F1GameInfo Logo" class="logo">
      <h1 class="app-title">F1GameInfo</h1>
    </div>

    <h2>Registrarse</h2>

    <label class="register-label">
      Email:
      <input type="text" formControlName="email" placeholder="Introduce tu email" class="register-input">
      @if(form.get("email")?.invalid && form.get("email")?.touched){
        @if(form.get("email")?.errors?.["required"]){
          <small>El email es obligatorio</small>
        }
        @if(form.get("email")?.errors?.["email"]){
          <small>No es un email válido</small>
        }
      }
    </label>

    <label class="register-label">
      Contraseña:
      <input type="password" formControlName="pass" placeholder="Escribe tu contraseña" class="register-input">
      @if(form.get("pass")?.invalid && form.get("pass")?.touched){
        @if(form.get("pass")?.errors?.["required"]){
          <small>La contraseña es obligatoria</small>
        }
        @if(form.get("pass")?.errors?.["minlength"]){
          <small>La contraseña necesita al menos 8 caracteres</small>
        }
      }
    </label>

    <label class="register-label">
      Confirmar contraseña:
      <input type="password" formControlName="confirm_pass" placeholder="Confirma tu contraseña" class="register-input">
      @if(form.get("confirm_pass")?.invalid && form.get("confirm_pass")?.touched){
        @if(form.get("confirm_pass")?.errors?.["required"]){
          <small>Tienes que confirmar la contraseña</small>
        }
      }
      @if(form.get('pass')?.value !== form.get('confirm_pass')?.value && form.get('confirm_pass')?.touched && form.get('pass')?.touched){
        <small>Las contraseñas no coinciden</small>
      }
    </label>

    @if(!exito && intentado){
      <p class="error-message">Si tienes una cuenta ya creada dirígite al <a [routerLink]="['/login']" routerLinkActive="router-link-active">login</a>.</p>
    }

    <button type="submit" [disabled]="form.invalid" class="register-button">Registrarse</button>
  </form>
</div>
